<br>
<div  class="container  col-lg-6">
    <h2 style="text-align:center">Update Books Here</h2>
    <form #myform="ngForm" class="container col-md-4" (ngSubmit)="updateBook(myform.value)">
    <div class="form-group">
        <label>BookId</label>
        <input type="text" class="form-control" #bookid="ngModel" name="bookid" required ngModel>
        <span style="color: red;" *ngIf="bookid.touched && bookid.invalid">bookid ID is Mandatory</span>
    </div>

    <div class="form-group">
        <label> Quantity</label>
        <input type="number" class="form-control" #quantity="ngModel" name="quantity" required ngModel>
        <span style="color: red;" *ngIf="quantity.touched &&  quantity.invalid">Qunatity is Mandatory</span>
    </div>

    <div class="form-group">
        <label>AvailableQuantity</label>
        <input type="number" class="form-control" #availablequantity="ngModel" name="availablequantity" required ngModel>
        <span style="color: red;" *ngIf="availablequantity.touched && availablequantity.invalid">Available Quantity is Mandatory</span>
    </div>
    <div class="form-group">
        <label>BookTitle</label>
        <input type="text" class="form-control" #booktitle="ngModel" name="booktitle" required ngModel>
        <span style="color: red;" *ngIf="booktitle.touched && booktitle.invalid">book title is Mandatory</span>
    </div>
    <div class="form-group">
        <label>BookAuthor</label>
        <input type="text" class="form-control" #bookauthor="ngModel" name="bookauthor" required ngModel>
        <span style="color: red;" *ngIf="bookauthor.touched && bookauthor.invalid">book author is Mandatory</span>
    </div>
    <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" #subject="ngModel" name="subject" required ngModel>
        <span style="color: red;" *ngIf="subject.touched && subject.invalid">subject is Mandatory</span>
    </div>
    <div class="form-group">
        <label>Isbn</label>
        <input type="text" class="form-control" #isbn="ngModel" name="isbn" required ngModel>
        <span style="color: red;" *ngIf="isbn.touched && isbn.invalid">isbn  is Mandatory</span>
    </div>
    <div class="form-group">
        <label>Publisher</label>
        <input type="text" class="form-control" #publisher="ngModel" name="publisher" required ngModel>
        <span style="color: red;" *ngIf="publisher.touched && publisher.invalid">publisher is Mandatory</span>
    </div>
    <div class="form-group">
        <label> PublicationDate</label>
        <input type="date" class="form-control" #publicationdate="ngModel" name="publicationdate" required ngModel>
        <span style="color: red;" *ngIf="publicationdate.touched &&  publicationdate.invalid">publication date is Mandatory</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Update</button>
    <button type="submit" class="btn btn-primary" (click)="goBack()" style="margin-left: 20px;">Back</button>



</form>
</div>
