
<br>
<div class="text-center col-lg-3">
<table class="table table-bordered ">
    <thead class="thead-light">
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <i class="fas fa-edit" (click)="editUser()"></i>&nbsp;&nbsp;
          <i class="fas fa-trash-alt" (click)="deleteUser()"></i>
        </td>
      </tr>
   
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary" (click)="goBack()" style="margin-left: 20px;">Back</button>
</div>