<app-navbar></app-navbar>
<br>
<div class="user-management">
    <div class="card">
      <button (click)="addUsers()" style="color:black">Add Users</button>
    </div>
  
    
    <div class="card">
      <button (click)="viewAllUsers()" style="color:black">View All Users</button>
    </div>
    <div class="custom-button">
      <button type="submit" class="btn btn-primary transparent-button" (click)="goBack()" style="margin-left: 20px;"><i class="fa-solid fa-arrow-left"></i>Back</button>
      </div>
    
  </div>

