<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="card-deck">
    <div class="card" *ngFor="let book of bookList; let i = index">
      <div class="card-body">
        <h5 class="card-title">{{ book.booktitle }}</h5>
        <p class="card-text">Author: {{ book.bookauthor }}</p>
        <p class="card-text">Subject: {{ book.subject }}</p>
        <p class="card-text">ISBN: {{ book.isbn }}</p>
        <p class="card-text">Publisher: {{ book.publisher }}</p>
        <p class="card-text">Publication Date: {{ book.publicationdate }}</p>
        <p class="card-text">Available Quantity: {{ book.availablequantity }}</p>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" style="background-color: red" (click)="deleteBook(book.bookid)">Delete</button>
          <button type="button" class="btn btn-info" (click)="updateBook(book.bookid)">Update</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="custom-button">
    <button type="submit" class="btn btn-primary transparent-button" (click)="goBack()" style="margin-top: 20px;"><i class="fa-solid fa-arrow-left"></i>Back</button>
  </div>
</div>
