<app-navbar></app-navbar>
<br><br>
<div class="container">
  <div class="row">
    <div *ngFor="let book of bookSearchList" class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ book.booktitle }}</h5>
          <p class="card-text">Book ID: {{ book.bookid }}</p>
          <p class="card-text">Author: {{ book.bookauthor }}</p>
          <p class="card-text">Subject: {{ book.subject }}</p>
          <p class="card-text">ISBN: {{ book.isbn }}</p>
          <p class="card-text">Publisher: {{ book.publisher }}</p>
          <p class="card-text">Publication Date: {{ book.publicationdate }}</p>
          <p class="card-text">Available Quantity: {{ book.availablequantity }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-button">
    <button type="submit" class="btn btn-primary transparent-button" (click)="goBack()" style="margin-left: 20px;">
      <i class="fa-solid fa-arrow-left"></i>Back
    </button>
  </div>
</div>
